@font-face {
  font-family: 'Futura MD';
  src:url('../font/Futura-md-bt.ttf') format('truetype');
}

.uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.font-futura {
  font-family: "Futura MD";
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

.font-sm {
  font-size: 13px;
}

.font-sm-md {
  font-size: 20px;
}

.font-md {
  font-size: 24px;
}

.font-lg {
  font-size: 36px;
}

.font-xl {
  font-size: 48px;
}
