/* Trigger */
/* line 2, ../sass/_animations.scss */
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* FADE IN DOWN */
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 37, ../sass/_animations.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* FADE IN UP */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 82, ../sass/_animations.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* Bounce Down */
@-webkit-keyframes bounceDown {
  0% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes bounceDown {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
/* line 129, ../sass/_animations.scss */
.bounceDown {
  -webkit-animation-name: bounceDown;
  animation-name: bounceDown;
  -webkit-animation: bounceDown 1.5s infinite;
  -moz-animation: bounceDown 1.5s infinite;
  -o-animation: bounceDown 1.5s infinite;
  animation: bounceDown 1.5s infinite;
}

/* Parallax */
/* okay it's not really an animation but still */
/* line 4, ../sass/_app.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../sass/_app.scss */
a {
  color: #fff !important;
}

/* line 13, ../sass/_app.scss */
img {
  max-width: 100%;
}

/* line 17, ../sass/_app.scss */
body {
  background-image: url(https://cdn.liquidsky.tv/assets/newsky_background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 26, ../sass/_app.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 31, ../sass/_app.scss */
.header {
  width: 100%;
  padding: 30px 0;
}
/* line 35, ../sass/_app.scss */
.header .logo {
  text-align: center;
}

/* line 43, ../sass/_app.scss */
.hero {
  width: 100%;
  height: 100vh;
}
/* line 47, ../sass/_app.scss */
.hero .container {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  /* line 47, ../sass/_app.scss */
  .hero .container {
    margin-top: -200px;
  }
}
/* line 55, ../sass/_app.scss */
.hero .container h1 {
  font-size: 20px;
  letter-spacing: .2em;
  display: inline;
  margin: 0 auto;
  width: 100%;
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1.5s;
  transform: translateZ(0.3px) scale(0.7);
  z-index: 300;
}
@media only screen and (min-width: 992px) {
  /* line 55, ../sass/_app.scss */
  .hero .container h1 {
    font-size: 48px;
  }
}
/* line 74, ../sass/_app.scss */
.hero .container h2 {
  font-size: 18px;
  padding-top: 15px;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1.5s;
  transform: translateZ(0.1px) scale(0.9);
  z-index: 100;
}
@media only screen and (min-width: 992px) {
  /* line 74, ../sass/_app.scss */
  .hero .container h2 {
    font-size: 30px;
  }
}
/* line 88, ../sass/_app.scss */
.hero .container .feature-container {
  margin-top: 50px;
  animation-delay: 1.5s;
}
/* line 92, ../sass/_app.scss */
.hero .container .feature-container .feature {
  display: inline-block;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 92, ../sass/_app.scss */
  .hero .container .feature-container .feature {
    width: 200px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 92, ../sass/_app.scss */
  .hero .container .feature-container .feature {
    width: 200px;
  }
}
/* line 104, ../sass/_app.scss */
.hero .container .feature-container .feature p {
  font-size: 13px;
}
@media only screen and (min-width: 992px) {
  /* line 104, ../sass/_app.scss */
  .hero .container .feature-container .feature p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 112, ../sass/_app.scss */
  .hero .container .feature-container .feature svg {
    width: 30px;
  }
}
/* line 120, ../sass/_app.scss */
.hero .container .download-button {
  animation-delay: 1.5s;
}
/* line 124, ../sass/_app.scss */
.hero .container .download-button .btn {
  color: #fff;
}
/* line 128, ../sass/_app.scss */
.hero .container .download-button .btn-apps {
  background-color: #ECF0F1;
  margin: 30px 6px;
  color: #000 !important;
}
/* line 134, ../sass/_app.scss */
.hero .container .download-button button {
  padding: 15px;
  width: 250px;
  transition: 0.3s background-color linear;
  background-color: #E8490C;
}
/* line 141, ../sass/_app.scss */
.hero .container .download-button button:hover {
  background-color: #FF0000;
}
/* line 147, ../sass/_app.scss */
.hero .container .scroll {
  position: absolute;
  top: 95vh;
}

/* line 157, ../sass/_app.scss */
.info {
  padding: 40px 0;
}
@media only screen and (min-width: 992px) {
  /* line 157, ../sass/_app.scss */
  .info {
    padding: 100px 0;
  }
}
/* line 169, ../sass/_app.scss */
.info .container .col-md-6 .info-content {
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
  display: inline;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  /* line 169, ../sass/_app.scss */
  .info .container .col-md-6 .info-content {
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  /* line 183, ../sass/_app.scss */
  .info .container .container {
    margin-top: -100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 183, ../sass/_app.scss */
  .info .container .container {
    margin-top: -100px;
  }
}
/* line 193, ../sass/_app.scss */
.info .container .container .col-md-6 {
  text-align: center;
}
/* line 196, ../sass/_app.scss */
.info .container .container .col-md-6 p {
  margin: 30px 0;
  padding-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  /* line 201, ../sass/_app.scss */
  .info .container .container .col-md-6 p:first-child {
    border-bottom: 2px solid #fff;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 207, ../sass/_app.scss */
  .info .container .container .col-md-6 p:first-child {
    border-bottom: 2px solid #fff;
    display: inline;
  }
}
@media only screen and (min-width: 992px) {
  /* line 196, ../sass/_app.scss */
  .info .container .container .col-md-6 p {
    margin: 15px 30px 0 0;
    border-bottom: none;
  }
}
@media only screen and (min-width: 992px) {
  /* line 193, ../sass/_app.scss */
  .info .container .container .col-md-6 {
    text-align: left;
    padding-left: 0;
  }
}

/* line 228, ../sass/_app.scss */
.svg-container {
  width: 83%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 228, ../sass/_app.scss */
  .svg-container {
    width: 59%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 228, ../sass/_app.scss */
  .svg-container {
    width: 63%;
    margin-top: -35px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 241, ../sass/_app.scss */
  .svg-container svg {
    width: 350px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 241, ../sass/_app.scss */
  .svg-container svg {
    margin-top: 26px;
    height: 310px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 241, ../sass/_app.scss */
  .svg-container svg {
    margin-top: 26px;
    height: 310px;
  }
}

/* line 1, ../sass/_constants.scss */
.full-height {
  height: 100%;
}

/* line 6, ../sass/_constants.scss */
.flex {
  display: flex;
}
/* line 9, ../sass/_constants.scss */
.flex.flex-row {
  flex-direction: row;
}
/* line 13, ../sass/_constants.scss */
.flex.flex-column {
  flex-direction: column;
}
/* line 17, ../sass/_constants.scss */
.flex.flex-center {
  justify-content: center;
  align-items: center;
}

/* line 23, ../sass/_constants.scss */
.bg-grey {
  background: #dbe0e3;
}

/* line 27, ../sass/_constants.scss */
.bg-white {
  background: #fff;
}

/* line 31, ../sass/_constants.scss */
.bg-black {
  background: rgba(0, 0, 0, 0.6);
}

/* line 35, ../sass/_constants.scss */
.top-gutter {
  margin-top: 25px;
}

/* line 39, ../sass/_constants.scss */
.disabled {
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 48, ../sass/_constants.scss */
.no-padding {
  padding: 0 !important;
}

@font-face {
  font-family: 'Futura MD';
  src: url("../font/Futura-md-bt.ttf") format("truetype");
}
/* line 6, ../sass/_typography.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 10, ../sass/_typography.scss */
.text-white {
  color: #fff;
}

/* line 14, ../sass/_typography.scss */
.font-futura {
  font-family: "Futura MD";
}

/* line 18, ../sass/_typography.scss */
.text-center {
  text-align: center;
}

/* line 22, ../sass/_typography.scss */
.font-bold {
  font-weight: 700;
}

/* line 26, ../sass/_typography.scss */
.font-sm {
  font-size: 13px;
}

/* line 30, ../sass/_typography.scss */
.font-sm-md {
  font-size: 20px;
}

/* line 34, ../sass/_typography.scss */
.font-md {
  font-size: 24px;
}

/* line 38, ../sass/_typography.scss */
.font-lg {
  font-size: 36px;
}

/* line 42, ../sass/_typography.scss */
.font-xl {
  font-size: 48px;
}

/*# sourceMappingURL=style.css.map */
